@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">.NET Core Sample Web Application</h1>
    <p>Entity framework örnekleri için yukarıdaki "Ürünler" linkini tıklayın</a>.</p>
</div>
